.section {
  background-color: #f4efe9;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.section-title {
  color: #2f4f7f;
  font-size: 28px;
  margin-bottom: 20px;
  width: auto;
}

.card {
  width: auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  padding: 40px 40px 0 40px;
  width: auto;
  height: 240px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  width: auto;
}

.badge {
  display: inline-block;
  background-color: #b7e3e4;
  color: #006d6f;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

.title-price h3 {
  margin: 0;
  font-size: 20px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
  line-height: 1.5;
  margin-left: 10px;
}