.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: white;
}

.shop {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
}

.dropdown {
  height: 20px;
}

.logo {
  height: 33px;
}


.icons {
  display: flex;
  gap: 16px;
}

.icons img {
  width: 26px;
  height: 26px;
}

.topSection {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background: radial-gradient(circle, #c01616, #7c0c0c);
}

.product-image {
  width:auto;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 8px;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.dots {
  margin-top: 20px;
}

.dot {
  height: 8px;
  width: 8px;
  background: #efebeb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dot.dark {
  background-color: black;
}
